* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: grey;
  font-size: 80px;
  cursor: pointer;
}

p {
  height: 399px;
  width: 399px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: transparent;
  margin: 10px 20px;
}

button {
  padding: 10px 10px;
  margin: 10px 70px;
}
